<h1>Add an image for the word: <%= Word.get_working_word.word %></h1>

<form action="image_form" method="post">
  <label for="image">Add the url of an image:</label>
  <input class="form-control" type="url" name="image">
  <button class="btn btn-success" type="submit" name="button">Add</button>
</form>
