<h1>Word Definer</h1>

<h3>Here are your words:</h3>

<a href="/word_form"><button class="btn btn-success">Add a word</button></a>
<ul>
  <% @words.each do |word| %>
    <a href="/word/<%= word.id %>"><h5><%= word.word %></h5></a>
  <%end%>
</ul>
