<h3>Here are your words: <a href="/word_form"><button class="add-word btn btn-danger">Add a word</button></a></h3>
<% @words.each do |word| %>
<div class="row">
  <div class="tiny-container col-md-1">
    <img class="tiny-img" src="<%=word.image%>" alt="">
  </div>
  <div class="word-list col-md-2">
    <a href="/word/<%= word.id %>"><h4><%= word.word %></h4></a>
  </div>
</div>
<hr>
<%end%>
