<!DOCTYPE html>
<html>
  <head>
    <title>Word Definer</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link  rel='stylesheet' href="/css/styles.css" >
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <h3 id="nav-title"><em><strong>Word Definer</strong></em></h3>
        <a class="nav-links" href='/all_words'><h5>Your Dictionary</h5></a>
        <a class="nav-links" href='/'><h5>Home</h5></a>
        <hr>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
