<h1> <%= Word.get_working_word.word %></h1>

<img class="word-img" src="<%= Word.get_working_word.image %>">

<h3>Definitions:</h3>
<ol>
  <% Word.get_working_word.definitions.each do |single_def| %>
    <li><%= single_def.definition %></li>
  <%end%>
</ol>

<hr>
<a href="/image_form"><button class="btn btn-success">Add an image</button></a>
<a href="/definition_form"><button class="btn btn-success">Add a definition</button></a>
