<h1>Add a word</h1>

<form action="word_form" method="post">
  <label for="word">Word:</label>
  <input class="form-control" type="text" name="word">

  <label for="definition">Definition</label>
  <input class="form-control" type="text" name="definition">

  <button class="btn btn-success" type="submit">Add</button>
</form>
